body {
  background-color: white;
  font-family: monospace;
}

.container-fluid {
  padding: 0;
}

/* Navbar */
.navbar {
  padding: 12.5px 10%;
}

.navbar-brand {
  font-family: "Miriam Libre", sans-serif;
  font-size: 1.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.1rem;
}

.soon {
  color: red;
  border-radius: 50%;
}

/* Featured */
#featured {
    margin: 0px 5.5% 60px 5.5%;
}
.featured-box {
  margin: 0 0;
}

.featured-item {
  width: 100%;
  height: 610px;

}

/* Projects */
#projects {
  padding: 40px 50px;
}
.projects-nav-bar {
  margin: 0 5%;
}
.projects-title {

}
.projects-grid {
  margin: 0 5%;
}
.projects-img {
  width: 350px;
}
/* Footer */
#footer {
  text-align: center;
}
