#bio {
    width: 50%;
    margin: 0 auto 60px auto;
    text-align: left;
    line-height: 2;
    font-size: 15px;
}

.bioimg {
    margin-right: 50px;
    width: 250px;
    border-radius: 100%;
    float: left;
}

#contact {
    width: 50%;
    margin: 0 auto;
    text-align: right;
    line-height: 2;
    font-size: 15px;
}

.cita {
    text-align: right;
}