body {
  background-color: black;
  font-family: "Syne Mono", monospace;
  margin: 50px;
  color: rgb(51, 255, 0);
}

.video-fluid {
  width: 100%;
  height: auto;
}

.go-to-index {
  text-align: right;
}
