body {
    background-color: black;
    color: white;
}
h1 {
    font-family: monospace;
}
hr {
    border-style: none;
    border-top-style: ridge;
    border-color: grey;
    border-width: 2px;
    width: 75%
}
#header {
    padding-bottom: 40px;
    text-align: center;
}
.grid-container {
    display: grid;
    display: flex;
    justify-content: center;
    text-align: center;
    grid: 150px/ 150px 150px 150px;
    grid-gap: 50px;
}